{% extends 'base.html' %}

{% block head %}
<title>Register</title>
{% endblock %}

{% block body %}
<h1>Registering Page</h1>

<form method="POST" action="{{url_for('register')}}">
    {{ form.hidden_tag() }}
    {{ form.user_name }}
    {{ form.password }}
    {{ form.submit }}
</form>
<p style="color: red;"><b>NOTE:- Currently there is no function to change your username or password, so enter it carefully and remember if you want to access your tasks again.</b></p>
<a href="{{url_for('login')}}" class="loginlink">Already have an account? Log In</a>
{% endblock %}